body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    height: 90vh;
    color: white;
    overflow: hidden;
}

/* NAVBAR */

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.5rem;
}

#navbarSupportedContent {
    justify-content: flex-end;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* HERO */

h1 {
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 900;
}

.btn-download {
    margin: 5% 5% 5% 0;
}

.dog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dog img{
    transform: rotate(25deg);
    width: 50%;
    
    /* margin-top: 80px; */
}

/* FEATURES */

#features {
    padding: 5% 10%;
    font-size: 1rem;
    margin: 0 auto;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.feature i, .feature h3, .feature p {
    padding: 2% 0;
    text-align: center;
}

.feature i:hover {
    color: #ff4c68;
}

.feature p {
    color: #8f8f8f;
}

#features h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.fas {
    color: #ef7172;
    font-size: 2.5rem;
}